.timer-container {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.time-display {
	letter-spacing: 0.05em;
	font-size: 80px;
	padding: 5px 0;
}

.timer-button-container{

    font-family: 'Share Tech Mono', monospace;
    color:#ffffff;
    text-align: center;
	position: relative;
	padding-top: 10%;
	justify-content: space-around;
	display: flex;
	font-size: 2rem;
  
}
